*.iml
.gradle/
.local/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild/
.cxx/
*.keystore
*.jks
google-services.json
local.properties
.android-sdk/
**/build/
*.apk
*.aab
*.ap_
*.dex
*.class
*.hprof
*.log
coverage/
*.orig
